<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>myTasks</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="/styles/main.css" media="screen,projection">

  </head>
  <body>
    <nav class="teal lighten-2">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">myTasks</a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">tasks</a></li>
          <li><a href="/">create</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">myAccount<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">tasks</a></li>
      <li><a href="/">create</a></li>
      <li class="divider"></li>
      <li><a href="/user">profile</a></li>
      <li><a href="/">log out</a></li>
    </ul>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/user">profile</a></li>
      <li><a href="/user/logout">log out</a></li>
    </ul>
