<% include ./partials/header %>
  <div class='container'>
    <%- messages('./messages/loginAlert', locals) %>
    <h3>Hey <%= user.first_name %>, here is your dashboard.</h3>
      <br></br>
    <h5 class='teal-text text-lighten-2'>Upcomming Tasks </h5>
    <% if(upcommingTasks.length<1) { %>
      <p>You have no tasks due in the upcoming week.</p>
    <% } else {%>
      <div class='row'>
      <% upcommingTasks.forEach(task => { %>
        <%- include('partials/taskcard.ejs', {task: task}); %>
      <% }) %>
      </div>
    <% } %>
    <h5 class='teal-text text-lighten-2'>You currently have <%= user.taskInfo.numTotal %> tasks in total</h5>
  </div>
<% include ./partials/footer %>
