<% include ./partials/header %>
  <div class='container center-align'>
    <h4 class="center-align">please log in to view this page. </h4>
    <br></br>
    <a href="/user/login" class="waves-effect waves-light btn btn-large"><i class="fas fa-sign-in-alt right"></i>log in</a>
  </div>
<% include ./partials/footer %>
