<% include ./partials/header %>
  <div class='container row'>
    <%- messages('./messages/loginAlert', locals) %>
    <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
        <br></br>
        <h4 class="center-align">enter your credentials:</h4>
        <br></br>
      <form action="/user/login" method="post" >
        <div class="input-field">
            <input id="username" type="text" name="username"/>
            <label for="username">username</label>
        </div>
        <div class="input-field">
            <input id="password" type="password" name="password" />
            <label for="password">password</label>
        </div>
        <div>
          <div class="row">
            <div class="col s6 left-align">
              <button type="submit" class="waves-effect waves-light btn">log in</button>
            </div>
            <div class="col s12 m6 right-align">
              <a href="/user/login/google" class="waves-effect waves-light btn light-blue lighten-2">sign in with <i class="fab fa-google"></i></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

<% include ./partials/footer %>
