
h1,h4,h5 {
  color: #A9A9A9;
}

.btn {
    text-transform: none;
}
.card-action {
  text-transform: none;
}
.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer;
}

.error{
  background-color: #ff1744;
}

.success{
  background-color: #00e676;
}
