
h1,h2,h3,h4,h5 {
  color: #A9A9A9;
  font-weight: lighter;
}

.btn {
    text-transform: none;
}
.card-action {
  text-transform: none;
}

.no-margin {
  margin-right:0 !important;
  margin-bottom:0;
}

.no-caps {
  text-transform: none !important;
}

a {
  cursor: pointer;
}

.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer;
}

.icon-card {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 17px;
    cursor:pointer;
}

.error{
  background-color: #ff1744;
}

.success{
  background-color: #00e676;
}
